@import "../../theme/variables";

    .imgs{
        border: 1px solid #f1f1f1; 
    }
    div.imgs{
        height: 100%;
    }
   
    div.pie {
        background-color: #f1f1f1;
        padding: 10px;
        bottom: 0px;
        position: sticky;
      }

    


    
    


