<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>publicacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
  <ion-card-header>
      <ion-card-title>{{Titulo}}</ion-card-title>
      <div style="text-align:center">
        <ion-img [src]="imagenusu" height='80' width='80' ></ion-img>
        <h1 ion-text class="centered" style="display:inline">{{NomUsu}}</h1>
        <!-- display:inline para que salga uno al lado del otro-->
        </div>
    </ion-card-header>


    <ion-card-content>
    
      <ion-slides>
        <ion-slide  *ngFor="let p of listaorden; let i = index">
  
          <h1>{{p}}</h1>
          
          <div class="row row-cols-1 row-cols-md-3">
            <div class="card">
              <img [src]="imgcontenedor[i]" height='120' width='120' >
            </div>
          </div>

          <div *ngIf="p == 'Portada'"> 
            <label >@{{NomUsu}} {{publicacion.Descripcion}}</label>
          </div>
  
          <div *ngIf="p != 'Portada' && p!='Recomendaciones'"> 
              <pre>
              <label>{{listaOrdenadaFotos[i].Rol}}</label><label >{{listaOrdenadaFotos[i].Nota}}</label>
              </pre>
              <label>{{listaOrdenadaFotos[i].Descripcion}}</label>
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <label >{{listaOrdenadaFotos[i].Positivo}}</label>
              <ion-icon name="close-circle-outline"></ion-icon>
              <label >{{listaOrdenadaFotos[i].Negativo}}</label>
              <button type="button" class="btn btn-secondary">Ir a la web</button>
          </div>

          <div *ngIf="p == 'Recomendaciones'"> 
              <div *ngFor= "let r of listarecomendaciones">
                <label>{{r}}</label>
              </div>
          </div>
  

          
        </ion-slide>
      </ion-slides>
    
    </ion-card-content>
  </ion-card>
  

</ion-content>
