<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>publicacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{Titulo}}</ion-card-title>
      <div style="text-align:center">
        <ion-img [src]="imagenusu" height='80' width='80' ></ion-img>
        <h1 ion-text class="centered" style="display:inline">{{idusuario}}</h1>
        <!-- display:inline para que salga uno al lado del otro-->
        </div>
        <div class="btn-group"  role="group" aria-label="Basic example"> 
          <button *ngFor="let ruta of listarutas" (click)=Mostrarruta(ruta) type="button" class="btn btn-secondary">{{ruta}}</button>
        </div>
    </ion-card-header>


    <ion-card-content>
    
      <ion-slides>
        <ion-slide  *ngFor="let p of listafotos_ruta; let i = index">
  
          <h1>{{p.Foto}}</h1>
           
  
          <div *ngIf="portada == true"> 
            <label >@{{idusuario}} {{publicacion.Descripcion}}</label>
            <ion-img  [src]="imgcontenedor[i]" height='80' width='80' ></ion-img>
          </div>
  
          <div *ngIf="fotos == true"> 
            <ion-img  [src]="imgcontenedor[i]" height='80' width='80' ></ion-img>
            <pre>
              <label>{{p.Rol}}</label><label >{{p.Nota}}</label>
              </pre>
              <label>{{p.Descripcion}}</label>
              <ion-icon name="checkmark-circle-outline"></ion-icon>
              <label >{{p.Positivo}}</label>
              <ion-icon name="close-circle-outline"></ion-icon>
              <label >{{p.Negativo}}</label>
              <button type="button" class="btn btn-secondary">Ir a la web</button>
          </div>
  
          
          <label *ngIf=" recomendacion == false ">foto</label>
         
          <label *ngIf=" recomendacion == true">recomendacion</label>
         
         
          <!--   <div *ngIf="recomendacion == true">-->
           <!--   <div  *ngFor="let r of listarecomendaciones" > -->
               <!--  <ion-icon  name="alert-circle-outline"></ion-icon>-->
              <!-- <label >{{r}}</label>-->
           <!-- </div> -->
         <!--  </div> -->
          
        </ion-slide>
      </ion-slides>
    
    </ion-card-content>
  </ion-card>
  

</ion-content>
