<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <ion-navbar>
    <ion-title>publicacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
      <div class="cabecera" >
        <ion-img class="imgusu"[src]="imagenusu" height='40' width='40' ></ion-img>
        <h1 ion-text  style="display:inline">{{NomUsu}}</h1>
        <!-- display:inline para que salga uno al lado del otro-->
        </div>

      <ion-slides>
        <ion-slide  *ngFor="let p of listaorden; let i = index"> 
          
          <div class="polaroid">
            <div class="ruta">
              <i class="glyphicon glyphicon-map-marker"></i>
              {{p}}
            </div> 
            <img [src]="imgcontenedor[i]" alt="5 Terre" style="width:100%">
            <div class="container">
              <div *ngIf="p == 'Portada'"> 
                <label >{{NomUsu}}</label>
                <label class="text" >{{publicacion.Descripcion}}</label>
              </div>
      
              <div  *ngIf="p != 'Portada' && p!='Recomendaciones'"> 
                <div style="display: inline;"> 
                  <i class="glyphicon glyphicon-picture"></i>
                  <label style=" font-size: 12px;" >{{listaOrdenadaFotos[i].Rol}}</label>
                  <label class="nota" >{{listaOrdenadaFotos[i].Nota}}</label>
                </div>
                <div style="display: block;"> 
                  <label  >{{NomUsu}}</label>
                  <label class=" text" >{{listaOrdenadaFotos[i].Descripcion}}</label>

                </div>
             
                <div style="display: block">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                  <label class="text" >{{listaOrdenadaFotos[i].Positivo}}</label>
                 </div>
                <div style="display: block">
                  <i class="glyphicon glyphicon-thumbs-down"></i>
                  <label class="text" >{{listaOrdenadaFotos[i].Negativo}}</label>
                 </div>
                
                 
                
              </div>
    
              <div *ngIf="p == 'Recomendaciones'"> 
                <label  >{{NomUsu}}</label>
                  <div *ngFor= "let r of listarecomendaciones">
                    <i class="glyphicon glyphicon-globe"></i>
                    <label class=" text" >{{r}}</label>
                  </div>
              </div>
            </div>
          </div>
          

         
  

          
        </ion-slide>
      </ion-slides>
    
 
  
      <div class="footer">
        <i class="icono glyphicon glyphicon-wrench" (click)=Configuracion();></i>
        <i class="icono glyphicon glyphicon-plus" (click)=Subirfoto();></i>
        <i class="icono glyphicon glyphicon-user" (click)=MiPerfil(); ></i>
      </div>

</ion-content>
