<!--
  Generated template for the FotosviajePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>fotosviaje</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<div *ngFor="let foto of listafotos; let i = index">

    <div class="polaroid">
      <!--el boton input que selecciona la imagen lo ponemos en modo que no sea visible para el usuario-->
      <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event)" style="display: none">
       <img [src]="imagen[i]"  style="width:100%">
        <!--en su lugar colocaremos un boton que llame a la función activar input, ya que el usuario si no lo visualiza no puedo clickarlo y por tanto activarlo-->
      <button (click)=Activarinput(i); ion-button shape="round" class="centered">Subir foto</button>
   
   <div class="container">
    <div >
      <label>¿Qué vemos en la fotografía?:</label>
      <select  name="rol" required [(ngModel)]="listarol[i]">
          <option value="Hotel">Hotel</option>
          <option value="Restaurante">Restaurante</option>
          <option value="Paisaje">Paisaje</option>
      </select>
    </div>
    <div >
      <label>¿Qué lugar es?:</label>
      <select name="ruta" required [(ngModel)]="listaruta[i]">
          <option *ngFor="let ruta of listapuntosruta"  value="{{ruta}}">{{ruta}}</option>
      </select>
    </div>
    <div>
        <label>Escribe un pie de foto:</label>
        <ion-input type="text"  name="descripcion" placeholder="escribe descripcion" required [(ngModel)]="listadescripcion[i]"></ion-input>
    </div>
    <div>
        <label>Añade web del lugar:</label>
        <ion-input type="text"  name="web" placeholder="escribe web" required [(ngModel)]="listaweb[i]"></ion-input>
    </div>
    <div >
        <label>Añade aspecto positivo del lugar:</label>
        <ion-input type="text" name="pos" placeholder="escribe aspecto positivo" required [(ngModel)]="listapositivo[i]"></ion-input>
    </div>
   <div >
        <label>Añade aspecto negativo del lugar:</label>
        <ion-input type="text"  name="neg" placeholder="escribe aspecto negativo" required [(ngModel)]="listanegativo[i]"></ion-input>
    </div>
    <div >
      <label>¿Quieres añadir esta fotografía como portada?:</label>
      <select name="portada" required [(ngModel)]="listaportada[i]">
          <option value="true">Si</option>
          <option value="false">No</option>
      </select>
    </div>
    <div >
      <label>Nota del lugar:</label>
      <select name="nota" required [(ngModel)]="listanota[i]">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>
         <option value="7">7</option>
         <option value="8">8</option>
         <option value="9">9</option>
         <option value="10">10</option>

      </select>
    </div>
   </div>
  </div>
    
</div>
  

  <button class="boton" (click)=PonFoto(); ion-button shape="round">Añadir nueva foto</button>
  <button class="boton" (click)=ComprobarCamposVacios(); ion-button shape="round">Subirpublicacion</button>
</ion-content>
