page-fotosviaje {
left: 0px;
    div.polaroid {
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        padding-bottom: 20px;
      }
      
      img {width: 100%}

      div.container { 
        padding-left: 8px;
        left: 0px;
        height: auto;
       select{
        width: 75%;
       }
        
    }
    
    
}
