<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>configuracion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <!-- Mostrar foto usuario-->
  <div style="text-align:center">
        <ion-img [src]="imagenusu" height='80' width='80' ></ion-img>
        </div>
  
  <!-- Boton cambiar foto de perfil-->
  <ion-item>
      <!--el boton input que selecciona la imagen lo ponemos en modo que no sea visible para el usuario-->
        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event)" style="display: none">
     <!--en su lugar colocaremos un boton que llame a la función activar input, ya que el usuario si no lo visualiza no puedo clickarlo y por tanto activarlo-->
     <button (click)=Activarinput(); ion-button shape="round" class="centered">Cambiar foto de perfil</button>
    </ion-item>

    <!-- Datos personales-->
    <form (ngSubmit)="Cambiardatos();">
      <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputGroupUsername">Nombre usuario</label>
          <div class="input-group">
            <ion-input type="text" class="form-control" name="nomUsu" placeholder="{{usuario.NomUsu}}" required [(ngModel)]="nomUsu">{{usuario.NomUsu}}</ion-input>
            <ion-icon name="help-outline" (click)="ComprobarNomUsu($event)" style="display:inline"></ion-icon>
            <ion-icon name="checkmark-circle" *ngIf="ExisteNomUsu == false"></ion-icon>
            <ion-icon name="close-circle" *ngIf="ExisteNomUsu == true"></ion-icon>
          </div>
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputName">Correo electrónico</label>
          <ion-input type="text" name="mail" placeholder="{{usuario.Mail}}" required [(ngModel)]="mail" disabled="true" ></ion-input>
    
        </div>
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputGroupUsername">Nombre</label>
          <div class="input-group">
            <ion-input type="text" class="form-control" name="nombre" placeholder="{{usuario.Nombre}}" required [(ngModel)]="nombre"></ion-input>
          </div>
        </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="selrol" [(ngModel)]="selrol"  data-md-icheck (change)="checkboxRol($event)">
            <label class="form-check-label" for="exampleCheck1">Perfil de Empresa</label>
          </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="perfil" [(ngModel)]="perfil"  data-md-icheck (change)="checkboxPerfil($event)" >
            <label class="form-check-label" for="exampleCheck1">Perfil privado</label>
          </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary" ion-button shape="round">Guardar datos personales</button>
        </div>
      </div>
    </form>
    <button (click)=Cambiarpass(); ion-button shape="round" class="centered">Cambiar contraseña</button>
  
    
    
</ion-content>
