<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>configuracion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <!-- Mostrar foto usuario-->
  <div class="textocentrado">
        <ion-img class="imgusu" [src]="imagenusu" height='80' width='80' ></ion-img>
        <button (click)=Activarinput(); ion-button shape="round" class="centered">Cambiar foto de perfil</button>
  </div>
  
  <!-- Boton cambiar foto de perfil-->
  <ion-item>
      <!--el boton input que selecciona la imagen lo ponemos en modo que no sea visible para el usuario-->
        <input #file id="inp" type="file" accept='image/*' (change)="Mostrar($event)" style="display: none">
     <!--en su lugar colocaremos un boton que llame a la función activar input, ya que el usuario si no lo visualiza no puedo clickarlo y por tanto activarlo-->
      </ion-item>

    <!-- Datos personales-->
    <form (ngSubmit)="ComprobarCamposVacios();">
      <div >
        <div >
          <label >Nombre usuario</label>
            <ion-input type="text" name="nomUsu" placeholder="{{usuario.NomUsu}}" required [(ngModel)]="nomUsu">{{usuario.NomUsu}}</ion-input>
            <i class="icon glyphicon glyphicon-question-sign" (click)="ComprobarNomUsu($event)" style="display:inline"></i>
            <i class="icon glyphicon glyphicon-ok-sign" *ngIf="ExisteNomUsu == false" style="display:inline"></i>
            <i class="icon glyphicon glyphicon-remove-sign" *ngIf="ExisteNomUsu == true" style="display:inline"></i>

        <div >
          <label>Correo electrónico</label>
          <ion-input type="text" name="mail" placeholder="{{usuario.Mail}}" required [(ngModel)]="mail" disabled="true" ></ion-input>
    
        </div>
        <div >
          <label >Nombre</label>
            <ion-input type="text" name="nombre" placeholder="{{usuario.Nombre}}" required [(ngModel)]="nombre">{{usuario.Nombre}}</ion-input>
        </div>
          <div >
            <input type="checkbox" name="selrol" [(ngModel)]="selrol"  data-md-icheck (change)="checkboxRol($event)">
            <label>Perfil de Empresa</label>
          </div>
        </div>
        <div>
            <input type="checkbox" name="perfil" [(ngModel)]="perfil"  data-md-icheck (change)="checkboxPerfil($event)" >
            <label >Perfil privado</label>
          </div>
        <div>
          <button type="submit"  ion-button shape="round">Guardar datos personales</button>
        </div>
      </div>
    </form>
    <button (click)=Cambiarpass(); ion-button shape="round" class="centered">Cambiar contraseña</button>
  
    
    
</ion-content>
